<div class="body">
    <div class="row m-0">
        <div class="col-12 p-0">
            <app-header></app-header>
        </div>
        <ng-container *ngIf="sharedService.loggeddata">
            <div class="col-md-2" [ngClass]="sharedService.sidebar ? 'sidebarclose' : 'sidebar'">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-10 p-0" [ngClass]="sharedService.sidebar ? 'close-content' : 'open-content'">
                <router-outlet></router-outlet>
            </div>
        </ng-container>
        <div *ngIf="!sharedService.loggeddata">
            <div class="col-md-12 p-0">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>