.main-logout {
    padding: 15px 25px;
}

.btn {
    margin: 5px;
}

.btn-main {
    text-align: end;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.main-library {
    padding: 15px 25px;
}

.btn {
    margin: 5px;
}

.btn-main {
    text-align: end;
}